@use 'win95-mixins' as *;

.window {
    position: absolute;
    @include win95-window;
    min-width: 200px;

    &.dragging {
        cursor: move;
        user-select: none;
    }

    &.minimized {
        height: auto !important;
    }
}

.title-bar {
    @include win95-title-bar;
    cursor: move;

    .title-text {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .title-buttons {
        display: flex;
        gap: 2px;
        margin-left: 4px;
    }
}

.title-btn {
    width: 16px;
    height: 14px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $win95-gray;
    border: 2px solid;
    border-color: $win95-white $win95-dark-gray $win95-dark-gray $win95-white;
    cursor: pointer;
    font-size: 10px;
    line-height: 1;

    &:active {
        border-color: $win95-dark-gray $win95-white $win95-white $win95-dark-gray;
    }

    .btn-icon {
        font-weight: bold;
        color: $win95-black;
    }

    &.close .btn-icon {
        font-size: 14px;
        margin-top: -2px;
    }
}

.window-content {
    background-color: $win95-gray;
    padding: 8px;

    &.hidden {
        display: none;
    }
}